<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    Link to File with some values-->
    <context:property-placeholder location="classpath:myApp.properties"/>

    <!--    creating bean with LINK = id + set class.path to this object = Dog -->

    <bean id="myPetDog"
          class="org.spring.Dog">

    </bean>

    <!--    more bean -->

    <bean id="myPetCat"
          class="org.spring.Cat">

    </bean>

    <!--Setting Using setters in Bean Value in his fields from File  -->

    <bean id="myPerson"
          class="org.spring.Person">
        <property name="pet" ref="myPetCat"/>
        <property name="age" value="${person.age}"/>
        <property name="name" value="${person.name}"/>

    </bean>

</beans>